<%= link_to("<< Back to List", pages_path, :class => 'back-link') %>

<div class="subjects new">
  <h2>Create Subject</h2>

  <%= form_for(@page) do |f| %>

    <%= render partial: "page_form", locals: {f: f} %>

    <div class="form-buttons">
      <%= f.submit("Create Subject") %>
    </div>

  <% end %>
</div>